.header_container {
  align-items: 'center';
  background-color: lightyellow;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.header_container a {
  color: black;
  text-decoration: none;
  font-weight: 500;

}

a.active {
  color: red;
}

.nav_tabs {
  display: flex;
  list-style: none;
}

.nav_items {
  padding-right: 15px;
}

